<table>
    <thead>
        <tr>
            <th>Model</th>
            <th>Price Per Day</th>
            <th>Rent Expires</th>
        </tr>
    </thead>
    <tbody>
        {{#each info}}
        <tr>
            <td>{{this.car.model}}</td>
            <td>{{this.car.pricePerDay}} &euro;</td>
            <td>{{this.days}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>